#container {
  width: 800px;
  /* 컨테이너 너비 */
  margin: 0 auto;
  /* 컨테이너 화면 중앙에 배치 */
}

.title {
  display: inline-block;
  /* 글자 부분에만 배경 색이 채워지도록 지정 */
  background-color: #0404aa;
  /* 배경 색 - 짙은 파란색 */
  color: #fff;
  /* 글자 색 - 흰색 */
}

.accent {
  font-weight: bold;
  /* 글자 굵게 */
  color: red;
  /* 글자 색 - 빨간색 */
}

table,
th,
td {
  border: 1px solid #222;
  /* border: 1px solid #ccc; */
  /* 표 테두리 */
  border-collapse: collapse;
  /* 테두리 1줄만 표시 */
}

th,
td {
  padding: 10px;
  /* padding: 10px 20px; */
  /* 셀 안쪽의 여백(패딩) */
}